/* You can add global styles to this file, and also import other style files */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(58, 53, 53);
    margin: 0;
    height: 100%;
}